.navbar-corp-name {
	padding-top: 15px;
	display: inline-block;
	color: #ffffff;
}

table {
	width: 100% !important;
}

.btn-novo {
	margin-bottom: 5px;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
	padding: 5px 8px 5px 8px !important;
	vertical-align: middle !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 5px;
	padding-left: 5px;
}

label {
	margin-bottom: 1px;
	margin-top: 5px;
}

.error {
	color: red;
	font-size: small;
}

.swal2-popup {
	font-size: 1.6rem !important;
}

.form-title {
	font-size: 22px;
	padding: 5px;
	/*font-weight: bold;*/
	color: #4b646f;
	border-bottom: #C2C7D0 1px solid;
	background-color: #f7f7f7;
	border-radius: 3px;
	margin: 0 -15px 0 -15px;
}

.btn-select2 {
	height: 34px !important;
	padding-top: 7px !important;
}

textarea {
	max-width: 100%;
	min-width: 100%;
}

.mask_date, .mask_CEP, .mask_CNPJ, .mask_CPF {
	text-align: center !important;
}

#nome{
	text-transform: uppercase;
}
